        <div class="owl-carousel owl-loaded owl-nav-dots-inner" data-options='{"items":1,"loop":true,"autoplay":true,"autoplayTimeout":5000}'>
            <div class="owl-item">
                <div class="slider-item" style="background-color:#E3D8FF;">
                    <div class="container">
                        <div class="slider-item-inner">
                            <div class="slider-item-caption-left">
                                <h4 class="slider-item-caption-title">Playstation 4</h4>
                                <p class="slider-item-caption-desc">This is for The Players</p><a class="btn btn-lg btn-ghost btn-black" href="#">Shop Now</a>
                            </div>
                            <img class="slider-item-img-right" src="assets/img/test_slider/13-i.png" alt="Image Alternative text" title="Image Title" style="top: 60%; width: 56%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item">
                <div class="slider-item" style="background-image:url(assets/img/1400x500.png);">
                    <div class="container">
                        <div class="slider-item-inner">
                            <div class="slider-item-caption-right slider-item-caption-white">
                                <h4 class="slider-item-caption-title">Smart Watches</h4>
                                <p class="slider-item-caption-desc">Get One Just from $99</p><a class="btn btn-lg btn-ghost btn-white" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item">
                <div class="slider-item" style="background-color:#E5F54B;">
                    <div class="container">
                        <div class="slider-item-inner">
                            <div class="slider-item-caption-left">
                                <h4 class="slider-item-caption-title">Run! Run! Run!</h4>
                                <p class="slider-item-caption-desc">Your Running Shoes, Right Away.</p><a class="btn btn-lg btn-ghost btn-black" href="#">Shop Now</a>
                            </div>
                            <img class="slider-item-img-right" src="assets/img/test_slider/3-i.png" alt="Image Alternative text" title="Image Title" />
                        </div>
                    </div>
                </div>
            </div>
        </div>