       <div class="gap"></div>
      <h3 class="widget-title">Hot Products</h3>
            <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":5,"loop":false,"nav":true}'>
                <div class="owl-item" *ngFor="let product of hotProducts">
                    <div class="product  owl-item-slide">
                        <ul class="product-labels">
                                    <li style="background-color: red;">HOT !!</li>
                         </ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="{{product.adImage}}" alt="Image Alternative text" title="Image Title" width="200" height="100" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">{{product.adTitle}}</h5>
                            <div class="product-caption-price"><span class="product-caption-price-new">Rp{{product.adPrice}}</span>
                            </div>
                            <hr>
                            <p class="product-caption-title" style="font-size: 0.7em; margin: 0px;">{{product.slrName}}</p>
                            <p class="product-caption-title" style="font-size: 0.7em; margin: 0px;">{{product.slrDepartment}}</p>
                        </div>
                    </div>
                </div>
            </div>