<div class="global-wrapper clearfix" id="global-wrapper">
        <app-verify-user></app-verify-user>
        <app-register-account></app-register-account>
        <app-recovery-password-account></app-recovery-password-account>
        <app-navbar-category></app-navbar-category>

        <div class="container">
            <header class="page-header">
                <h1 class="page-title">Cell Phones</h1>
                <ol class="breadcrumb page-breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">Electronics</a>
                    </li>
                    <li class="active">Cell Phones</li>
                </ol>
                <ul class="category-selections clearfix">
                    <li>
                        <a class="fa fa-th-large category-selections-icon active" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-th-list category-selections-icon" href="#"></a>
                    </li>
                    <li><span class="category-selections-sign">Sort by :</span>
                        <select class="category-selections-select">
                            <option selected>Newest First</option>
                            <option>Best Sellers</option>
                            <option>Trending Now</option>
                            <option>Best Raited</option>
                            <option>Price : Lowest First</option>
                            <option>Price : Highest First</option>
                            <option>Title : A - Z</option>
                            <option>Title : Z - A</option>
                        </select>
                    </li>
                    <li><span class="category-selections-sign">Items :</span>
                        <select class="category-selections-select">
                            <option>9 / page</option>
                            <option selected>12 / page</option>
                            <option>18 / page</option>
                            <option>All</option>
                        </select>
                    </li>
                </ul>
            </header>
            <div class="row">
                <div class="col-md-3">
                    <aside class="category-filters">
                        <div class="category-filters-section">
                            <h3 class="widget-title-sm">Category</h3>
                            <ul class="cateogry-filters-list">
                                <li><a href="#">Tv, Audio &amp; Home Theater</a>
                                </li>
                                <li><a href="#">Camera, Photo &amp; Video</a>
                                </li>
                                <li><a href="#">Computers &amp; Accessories</a>
                                </li>
                                <li><a href="#">Cell Phones &amp; Accessories</a>
                                </li>
                                <li><a href="#">Business &amp; Office</a>
                                </li>
                                <li><a href="#">Car &amp; GPS</a>
                                </li>
                                <li><a href="#">Audio & Accessories</a>
                                </li>
                                <li><a href="#">Software</a>
                                </li>
                                <li><a href="#">Video Games</a>
                                </li>
                            </ul>
                        </div>
                        <div class="category-filters-section">
                            <h3 class="widget-title-sm">Price</h3>
                            <input type="text" id="price-slider" />
                        </div>
                        <div class="category-filters-section">
                            <h3 class="widget-title-sm">Relese Date</h3>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Last 30 days<span class="category-filters-amount">(100)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Last 90 days<span class="category-filters-amount">(59)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Comming Soon<span class="category-filters-amount">(94)</span>
                                </label>
                            </div>
                        </div>
                        <div class="category-filters-section">
                            <h3 class="widget-title-sm">Brand</h3>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Apple<span class="category-filters-amount">(10)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Samsung<span class="category-filters-amount">(15)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />LG<span class="category-filters-amount">(86)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Sony<span class="category-filters-amount">(62)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Micosoft<span class="category-filters-amount">(49)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Dell<span class="category-filters-amount">(75)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />HP<span class="category-filters-amount">(22)</span>
                                </label>
                            </div>
                        </div>
                        <div class="category-filters-section">
                            <h3 class="widget-title-sm">Carrier</h3>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />AT&amp;T<span class="category-filters-amount">(32)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Verizon<span class="category-filters-amount">(37)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Sprint<span class="category-filters-amount">(86)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />T-Mobile<span class="category-filters-amount">(80)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Virgin Mobile<span class="category-filters-amount">(66)</span>
                                </label>
                            </div>
                        </div>
                        <div class="category-filters-section">
                            <h3 class="widget-title-sm">Operating System</h3>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Android<span class="category-filters-amount">(41)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />iOS<span class="category-filters-amount">(18)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Windows 8<span class="category-filters-amount">(98)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />BlackberryOS<span class="category-filters-amount">(40)</span>
                                </label>
                            </div>
                        </div>
                        <div class="category-filters-section">
                            <h3 class="widget-title-sm">Discount</h3>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />10% Off or More<span class="category-filters-amount">(99)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />25% Off or More<span class="category-filters-amount">(59)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />50% Off or More<span class="category-filters-amount">(62)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />75% Off or More<span class="category-filters-amount">(10)</span>
                                </label>
                            </div>
                        </div>
                        <div class="category-filters-section">
                            <h3 class="widget-title-sm">Features</h3>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />New<span class="category-filters-amount">(29)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Featured<span class="category-filters-amount">(97)</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />On Sale<span class="category-filters-amount">(99)</span>
                                </label>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="row" data-gutter="15">
                        <div class="col-md-4" *ngFor="let prod of productsByCategory">
                            <div class="product ">
                                <ul class="product-labels"></ul>
                                <div class="product-img-wrap">
                                    <img width="300" height="150" class="product-img-primary" src="{{prod.adImage}}" alt="Image Alternative text" title="Image Title" />
                                    <img class="product-img-alt" src="assets/img/500x500.png" alt="Image Alternative text" title="Image Title" />
                                </div>
                                <a class="product-link" href="#"></a>
                                <div class="product-caption">
                                    <ul class="product-caption-rating">
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                        <li class="rated"><i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-caption-title">{{prod.adTitle}}</h5>
                                    <div class="product-caption-price"><span class="product-caption-price-new">{{prod.adPrice}}</span>
                                    </div>
                                    <hr>
                                        <p class="product-caption-title" style="font-size: 0.7em; margin: 0px;">{{prod.slrName}}</p>
                                        <p class="product-caption-title" style="font-size: 0.6em; margin: 0px;">{{prod.slrDepartment}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="category-pagination-sign">58 items found in Cell Phones. Showing 1 - 12</p>
                        </div>
                        <div class="col-md-6">
                            <nav>
                                <ul class="pagination category-pagination pull-right">
                                    <li class="active"><a href="#">1</a>
                                    </li>
                                    <li><a href="#">2</a>
                                    </li>
                                    <li><a href="#">3</a>
                                    </li>
                                    <li><a href="#">4</a>
                                    </li>
                                    <li><a href="#">5</a>
                                    </li>
                                    <li class="last"><a href="#"><i class="fa fa-long-arrow-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
