<div class="global-wrapper clearfix" id="global-wrapper">
        <app-verify-user></app-verify-user>
        <app-register-account></app-register-account>
        <app-recovery-password-account></app-recovery-password-account>
        <app-navbar-category></app-navbar-category>
        <div class="container">
            <header class="page-header">
                <h1 class="page-title">Sony XPERIA Z Ultra 16GB</h1>
                <ol class="breadcrumb page-breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">Electronics</a>
                    </li>
                    <li><a href="#">Cell Phones</a>
                    </li>
                    <li><a href="#">Sony</a>
                    </li>
                    <li class="active">XPERIA Z Ultra 16GB</li>
                </ol>
            </header>
            <div class="row">
                <div class="col-md-5">
                    <div class="product-page-product-wrap jqzoom-stage">
                        <div class="clearfix">
                            <a href="img/800x800.png" id="jqzoom" data-rel="gal-1">
                                <img src="assets/img/500x500.png" alt="Image Alternative text" title="Image Title" />
                            </a>
                        </div>
                    </div>
                    <ul class="jqzoom-list">
                        <li>
                            <a class="zoomThumbActive" href="javascript:void(0)" data-rel="{gallery:'gal-1', smallimage: 'img/500x500.png', largeimage: 'img/800x800.png'}">
                                <img src="assets/img/100x100.png" alt="Image Alternative text" title="Image Title" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-rel="{gallery:'gal-1', smallimage: 'img/500x500.png', largeimage: 'img/800x800.png'}">
                                <img src="assets/img/100x100.png" alt="Image Alternative text" title="Image Title" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-rel="{gallery:'gal-1', smallimage: 'img/500x500.png', largeimage: 'img/800x800.png'}">
                                <img src="assets/img/100x100.png" alt="Image Alternative text" title="Image Title" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-rel="{gallery:'gal-1', smallimage: 'img/500x500.png', largeimage: 'img/800x800.png'}">
                                <img src="assets/img/100x100.png" alt="Image Alternative text" title="Image Title" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <div class="row" data-gutter="10">
                        <div class="col-md-12">
                            <div class="box">
                                <ul class="product-page-product-rating">
                                    <li class="rated"><i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated"><i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated"><i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated"><i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated"><i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <p class="product-page-product-rating-sign"><a href="#">238 customer reviews</a>
                                </p>
                                <p class="product-page-desc">The first Android smartphone with a 6.4” Full HD Display and the first one ever to incorporate a TRILUMINOS™ Display with X-Reality for mobile – Xperia Z Ultra is the smartphone that takes you beyond your wildest dreams.</p>
                                <table
                                class="table table-striped product-page-features-table">
                                    <tbody>
                                        <tr>
                                            <td>Display:</td>
                                            <td>6.4 inches</td>
                                        </tr>
                                        <tr>
                                            <td>Camera:</td>
                                            <td>8.0MP</td>
                                        </tr>
                                        <tr>
                                            <td>Cellular Band:</td>
                                            <td>GSM/GPRS/EDGE 850/900/1800/1900 (Quadband) UMTS/HSPA+ 850/900/1700/1900/2100</td>
                                        </tr>
                                        <tr>
                                            <td>Contract:</td>
                                            <td>Without Contract</td>
                                        </tr>
                                        <tr>
                                            <td>Color:</td>
                                            <td>Black</td>
                                        </tr>
                                        <tr>
                                            <td>Brand:</td>
                                            <td>Sony</td>
                                        </tr>
                                        <tr>
                                            <td>Features:</td>
                                            <td>3G Data Capable, 4G Data Capable, Internet Browser, Wi-Fi Capable, GPS, Touchscreen, Music Player, Bluetooth Enabled</td>
                                        </tr>
                                        <tr>
                                            <td>Network:</td>
                                            <td>Unlocked</td>
                                        </tr>
                                        <tr>
                                            <td>Storage:</td>
                                            <td>16GB</td>
                                        </tr>
                                    </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
            <div class="gap"></div>
            <div class="tabbable product-tabs">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#tab-1" data-toggle="tab">Description</a>
                    </li>
                    <li><a href="#tab-2" data-toggle="tab">Additional Information</a>
                    </li>
                    <li><a href="#tab-3" data-toggle="tab">Rating and Reviews</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-1">
                        <p>Molestie dictum facilisis faucibus urna proin tristique senectus penatibus montes in dolor potenti dolor maecenas sagittis mollis sed interdum lacus consectetur varius tempor litora tristique potenti congue pulvinar tempus posuere</p>
                        <p>Senectus nisl mattis ad eleifend torquent quisque elit auctor vel</p>
                    </div>
                    <div class="tab-pane fade" id="tab-2">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Weight:</td>
                                    <td>0.3 kg</td>
                                </tr>
                                <tr>
                                    <td>Dimensions:</td>
                                    <td>20 ½" W x 12" H x 10 ¾" D with 9" strap drop and 52" removable, adjustable strap</td>
                                </tr>
                                <tr>
                                    <td>Materials:</td>
                                    <td>100% Cotton</td>
                                </tr>
                                <tr>
                                    <td>Care Tips:</td>
                                    <td>Machine wash cold, gentle cycle, only non-chlorine bleach when needed; line dry</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab-3">
                        <div class="row">
                            <div class="col-md-8">
                                <article class="product-review">
                                    <div class="product-review-author">
                                        <img class="product-review-author-img" src="img/70x70.png" alt="Image Alternative text" title="Image Title" />
                                    </div>
                                    <div class="product-review-content-full">
                                        <h5 class="product-review-title">Terrific Buy!</h5>
                                        <ul class="product-page-product-rating">
                                            <li class="rated"><i class="fa fa-star"></i>
                                            </li>
                                            <li class="rated"><i class="fa fa-star"></i>
                                            </li>
                                            <li class="rated"><i class="fa fa-star"></i>
                                            </li>
                                            <li class="rated"><i class="fa fa-star"></i>
                                            </li>
                                            <li class="rated"><i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <p class="product-review-meta">by Minnie Aviles on 08/14/2015</p>
                                        <p class="product-review-body">Eleifend ante sollicitudin lorem convallis consequat libero lacus rutrum nec lacinia dis rutrum cubilia condimentum elementum eget aliquam fusce molestie</p>
                                        <p class="text-success"><strong><i class="fa fa-check"></i> I would recommend this to a friend!</strong>
                                        </p>
                                        <ul class="list-inline product-review-actions">
                                            <li><a href="#"><i class="fa fa-flag"></i> Flag this review</a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-comment"></i> Comment review</a>
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                                <article class="product-review">
                                    <div class="product-review-author">
                                        <img class="product-review-author-img" src="img/70x70.png" alt="Image Alternative text" title="Image Title" />
                                    </div>
                                    <div class="product-review-content-full">
                                        <h5 class="product-review-title">Too Big. Unusable.</h5>
                                        <ul class="product-page-product-rating">
                                            <li class="rated"><i class="fa fa-star"></i>
                                            </li>
                                            <li class="rated"><i class="fa fa-star"></i>
                                            </li>
                                            <li><i class="fa fa-star"></i>
                                            </li>
                                            <li><i class="fa fa-star"></i>
                                            </li>
                                            <li><i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <p class="product-review-meta">by Elizabeth Wallace on 08/14/2015</p>
                                        <p class="product-review-body">Rutrum feugiat tristique ac curae hac aptent cursus feugiat aliquam pharetra dis mattis dolor primis posuere</p>
                                        <p class="text-danger"><strong><i class="fa fa-close"></i> No, I would not recommend this to a friend.</strong>
                                        </p>
                                        <ul class="list-inline product-review-actions">
                                            <li><a href="#"><i class="fa fa-flag"></i> Flag this review</a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-comment"></i> Comment review</a>
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                                <article class="product-review">
                                    <div class="product-review-author">
                                        <img class="product-review-author-img" src="img/70x70.png" alt="Image Alternative text" title="Image Title" />
                                    </div>
                                    <div class="product-review-content-full">
                                        <h5 class="product-review-title">Worth it</h5>
                                        <ul class="product-page-product-rating">
                                            <li class="rated"><i class="fa fa-star"></i>
                                            </li>
                                            <li class="rated"><i class="fa fa-star"></i>
                                            </li>
                                            <li class="rated"><i class="fa fa-star"></i>
                                            </li>
                                            <li class="rated"><i class="fa fa-star"></i>
                                            </li>
                                            <li class="rated"><i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <p class="product-review-meta">by Brandon Burgess on 08/14/2015</p>
                                        <p class="product-review-body">Vitae phasellus lectus primis lectus class conubia id magna cursus conubia proin venenatis suscipit aliquet massa dui odio</p>
                                        <p class="text-success"><strong><i class="fa fa-check"></i> I would recommend this to a friend!</strong>
                                        </p>
                                        <ul class="list-inline product-review-actions">
                                            <li><a href="#"><i class="fa fa-flag"></i> Flag this review</a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-comment"></i> Comment review</a>
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <h3 class="product-tab-rating-title">Overall Customer Rating:</h3>
                                <ul class="product-page-product-rating product-rating-big">
                                    <li class="rated"><i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated"><i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated"><i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated"><i class="fa fa-star"></i>
                                    </li>
                                    <li class="rated"><i class="fa fa-star"></i>
                                    </li>
                                    <li class="count">4.9</li>
                                </ul><small>238 customer reviews</small>
                                <p><strong>98%</strong> of reviewers would recommend this product</p><a class="btn btn-primary" href="#">Write a Review</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="category-pagination-sign">238 customer reviews found. Showing 1 - 5</p>
                            </div>
                            <div class="col-md-6">
                                <nav>
                                    <ul class="pagination category-pagination pull-right">
                                        <li class="active"><a href="#">1</a>
                                        </li>
                                        <li><a href="#">2</a>
                                        </li>
                                        <li><a href="#">3</a>
                                        </li>
                                        <li><a href="#">4</a>
                                        </li>
                                        <li><a href="#">5</a>
                                        </li>
                                        <li class="last"><a href="#"><i class="fa fa-long-arrow-right"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-others-product></app-others-product>
        </div>
        <app-footer></app-footer>
    </div>