  <div class="global-wrapper clearfix" id="global-wrapper">
        <app-navbar-home></app-navbar-home>
        <app-verify-user></app-verify-user>
        <app-register-account></app-register-account>
        <app-recovery-password-account></app-recovery-password-account>
        <app-carousel-promo></app-carousel-promo>
        <app-category></app-category>
        <div class="container">
            <app-hot-product></app-hot-product>
            <div class="gap"></div>
            <app-new-products></app-new-products>
        </div>
        <app-footer></app-footer>
</div>
    




