 <div class="gap"></div>
        <div class="container">
            <h3 class="widget-title-lg">Shop by Category</h3>
            <div class="row row-sm-gap" data-gutter="15">
                <div *ngFor="let cat of categories" class="col-md-2">
                    <a class="banner-category" [routerLink]="['/products-by-category', cat.ctrId]" (click)="sendId(cat.ctrId)">
                        <img class="banner-category-img" src="{{cat.ctrImage}}" alt="{{cat.ctrName}}" title="{{cat.ctrName}}" />
                        <h5 class="banner-category-title" style="font-size: 0.5em;"> {{cat.ctrName}}</h5>
                        <p class="banner-category-desc">x - products</p>
                    </a>
                </div>
            </div>
        </div>
    