 <nav class="navbar navbar-inverse navbar-main yamm">
            <div class="container">
                <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav-collapse" area_expanded="false"><span class="sr-only">Main Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo-w.png" alt="Image Alternative text" title="Image Title" />
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="main-nav-collapse">
                 <form class="navbar-form navbar-left navbar-main-search navbar-main-search-category" role="search">
                    <select class="navbar-main-search-category-select">
                        <option>All Departmens</option>
                        <option>Appilances</option>
                        <option>Apps & Games</option>
                        <option>Arts, Crafts & Sewing</option>
                        <option>Automotive</option>
                        <option>Baby</option>
                        <option>Books</option>
                        <option>CDs & Vinyl</option>
                        <option>Cell Phones & Accessories</option>
                        <option>Clothing, Shoes & Jewelry</option>
                        <option>&nbsp;&nbsp;&nbsp;Woman</option>
                        <option>&nbsp;&nbsp;&nbsp;Men</option>
                        <option>&nbsp;&nbsp;&nbsp;Girls</option>
                        <option>&nbsp;&nbsp;&nbsp;Baby</option>
                        <option>Collectibles & Fine Art</option>
                        <option>Computers</option>
                        <option>Credit and Payment Cards</option>
                        <option>Digital Music</option>
                        <option>Electronics</option>
                        <option>Gift Cards</option>
                        <option>Grocery & Gourmet</option>
                        <option>Health & Personal Care</option>
                        <option>Home & Kitchen</option>
                        <option>Industrial & Scientific</option>
                        <option>Luggage & Travel</option>
                        <option>Luxury Beauty</option>
                        <option>Magazine Subscribtions</option>
                        <option>Movies & TV</option>
                        <option>Musical Instuments</option>
                        <option>Office Products</option>
                        <option>Patio, Lawn & Garden</option>
                        <option>Pet Supplies</option>
                        <option>Software</option>
                        <option>Sports & Outdoors</option>
                        <option>Tools & Home Improvement</option>
                        <option>Toys & Games</option>
                        <option>Video Games</option>
                        <option>Wine</option>
                    </select>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Search the Entire Store..." />
                    </div>
                    <a class="fa fa-search navbar-main-search-submit" href="#"></a>
                </form>
                 <ul class="nav navbar-nav navbar-right">
                        <li><a href="#nav-login-dialog" data-effect="mfp-move-from-top" class="popup-text">Sign In</a>
                        </li>
                        <li><a href="#nav-account-dialog" data-effect="mfp-move-from-top" class="popup-text">Create Account</a>
                        </li>
                </ul>    

                </div>
           </div>
</nav>