<div class="gap"></div>
            <h3 class="widget-title">New Products</h3>
            <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":7,"loop":true,"nav":true}'>
                <div class="owl-item" *ngFor="let new of newProducts">
                    <div class="product product-sm owl-item-slide">
                         <ul class="product-labels">
                                    <li >NEW !!</li>
                         </ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="{{new.adImage}}" alt="Image Alternative text" title="Image Title" width="200" height="100" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li class="rated"><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                                <li><i class="fa fa-star"></i>
                                </li>
                            </ul>
                             <h5 class="product-caption-title">{{new.adTitle}}</h5>
                            <div class="product-caption-price"><span class="product-caption-price-new">Rp{{new.adPrice}}</span>
                            </div>
                            <hr>
                            <p class="product-caption-title" style="font-size: 0.7em; margin: 0px;">{{new.slrName}}</p>
                            <p class="product-caption-title" style="font-size: 0.6em; margin: 0px;">{{new.slrDepartment}}</p>

                        </div>
                    </div>
                </div>
            </div>